<form method="post" action="/updatedata" enctype="multipart/form-data">
    <input type="hidden" name="editid" value="<%= srec.id %>"/>
    <table border="1">
        <tr>
            <td>Name :- </td>
            <td><input type="text" name="name" value="<%= srec.name %>"></td>
        </tr>
        <tr>
            <td>Email :- </td>
            <td><input type="text" name="email" value="<%= srec.email %>"></td>
        </tr>
        <tr>
            <td>Password :- </td>
            <td><input type="text" name="password" value="<%= srec.password %>"></td>
        </tr>
        <tr>
            <td>File :- </td>
            <td>
                <input type="file" name="avatar">
                <img src="/<%= srec.avatar %>" width="100"/>
            </td>
        </tr>

        <tr>
            <td></td>
            <td><input type="submit"/></td>
        </tr>


    </table>
    <a href="/view">View Record</a>
</form>